# SEMANA 02
Melanie HInostroza Cardenas

Temas:
    1. Numeros
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de datos por el teclado
    5. operadores

3. Manejo de cadenas

In [1]:
cadena= "Universidad Nacional Tecnológica de Lima Sur"
cadena

'Universidad Nacional Tecnológica de Lima Sur'

In [2]:
# Universidad Nacional Tecnologica de Lima Sur
#01234...................................-2 -1

In [3]:
cadena[5]

'r'

In [4]:
cadena[10]

'd'

In [5]:
# Tambien considera los espacios

In [6]:
cadena[11]

' '

In [7]:
#¿Que se mostrara?
cadena[-5]

'a'

In [8]:
cadena[21]

'T'

In [12]:
# Tambien lo puedo mostrar accediendo de manera inversa

In [13]:
cadena[-23]

'T'

In [14]:
# Para mostrar una subcadena[desde, hasta una antes]

In [9]:
cadena[3:8]

'versi'

In [10]:
# Para saber el tamaño de una cadena utilizamos Len()
# Incluye espacios en blanco
len(cadena)

44

In [11]:
# Para mostrar una cadena en mayusculas utilizamos upper()
cadena.upper()

'UNIVERSIDAD NACIONAL TECNOLÓGICA DE LIMA SUR'

In [18]:
cadena

'Universsidad Nacional Tecnologica de Lima sur'

In [19]:
#Si deseo cambiar una cadena en letras minusculas utilizamos Lower()
cadena.lower()

'universsidad nacional tecnologica de lima sur'

In [20]:
# Generar una lista a partir de una cadena.split()
cadena.split()

['Universsidad', 'Nacional', 'Tecnologica', 'de', 'Lima', 'sur']

In [22]:
# Generar una lista utilizando un criterio de separacion a partir de una cadena.split()
# Vamos a generar una lista de todos la cadena utilizando como criterio de separacion: Letra "a"
cadena.split("a")

['Universsid', 'd N', 'cion', 'l Tecnologic', ' de Lim', ' sur']

In [23]:
# Imprimir dando formato
# forma clasica "+"
# .format()
# f

In [25]:
# Forma clasica, concatenat con +
nombre = "Melanie Hinostroza"
print ("Buenos dias " + nombre)

Buenos dias Melanie Hinostroza

In [27]:
# Utilizando el .format()
nombre = "Pablo Levano"
edad = 18
print("hola {} ya se que tienes {} años".format(nombre,edad))

hola Pablo Levano ya se que tienes 18 años

In [30]:
# Dar formato a numeros con muchos decimales
resultado = 10/3
print("10/3 es = {} ".format(resultado))
print("10/3 es = {r:1.3f}".format(r=resultado))

10/3 es = 3.3333333333333335
10/3 es = 3.333

In [33]:
# Dar formato con f
nombre = "Melanie Hinostroza"
edad = 18
print(f"Buenos dias {nombre}, ya se que tienes {edad} años")

Buenos dias Melanie Hinostroza, ya se que tienes 18 años

In [35]:
# Dar formato a numeros con muchos decimal 
resultado = 10/3
print(f"10/3 es = {resultado}")
print(f"10/3 es = {resultado:1.3f}")

10/3 es = 3.3333333333333335
10/3 es = 3.333