# SEMANA 02
Hinostroza Cardenas Melanie

Temas
    1. NUmeros
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de datos por el teclado
    5. Operadores

2. Variables

In [38]:
# Siempre debe iniciar con una letra o un guion(Nunca con un numero u otro simbolo)

In [39]:
edad=25

In [40]:
edad

25

In [41]:
nombre="Melanie"

In [42]:
nombre

'Melanie'

In [43]:
apellido=" Hinostroza Cardenas"

In [44]:
apellido

' Hinostroza Cardenas'

In [45]:
nombrecompleto = nombre + apellido

In [46]:
nombrecompleto

'Melanie Hinostroza Cardenas'

In [47]:
# Para saber el tipo de variable utilizamos la funcion type()
# Por ejemplo
numero = 50
type(numero)

int

In [48]:
type(nombre)

str

In [49]:
talla =1.57

In [50]:
type(talla)

float

In [53]:
# Para convertir una cadena a un decimal utilizamos float()
cadena2 = "50"
numero2 =float(cadena2)
numero2

50.0

In [54]:
type(numero2)

float