# SEMANA 02
Melanie Hinostroza Cardenas

Tema
    1. NUmeros
    2. Variables
    3. Manejo de cadenas
    4. Ingreso de datos por el teclado
    5. Operadores

5. Operadores

In [40]:
# 5.1 Operadores Aritmeticos
# Se tiene: +,-,*,/,**,//

In [41]:
numero1 = 10
numero2 = 3
suma = numero1 + numero2
resta = numero1 - numero2
multiplicacion= numero1 * numero2
division = numero1 / numero2
residuo = numero1 % numero2
cociente = numero1 // numero2
potencia = numero1 ** numero2
print(suma)
print(resta)
print(multiplicacion)
print(division)
print(residuo)
print(cociente)
print(potencia)

13
7
30
3.3333333333333335
1
3
1000

In [42]:
# 5.2 Operadores de asignacion
# Se tiene: =,+,-=,+=,/=,++=
numero=5
numero = numero +3
print(numero)

8

In [43]:
#Potencia
numero = 5 
numero = numero ** 3
print(numero)

125

In [44]:
## 5.3 Oéraciones de comparacion
#Se tiene: ==,!=,<,>,<=,>=

In [45]:
# Ejemplo de igualdad ==
numero1 = 5
numero2 = 2
numero1 == numero2

False

In [46]:
#Con las cadenas funciona igual
nombre1 = "Juan"
nombre2 = "Juan"
nombre1 == nombre2

True

In [47]:
#5.4 Operaciones LOgicos
# Se tiene: and, ar, not
numero1 = 5
numero2 = 6
numero3 = 7
numero4 = 8

In [48]:
numero1 < numero2

True

In [49]:
#El not invierte el resultado
not(numero1 < numero2)

False

In [50]:
numero1<numero and numero3 < numero4

True

In [51]:
# Tambien utilizan parentesis para ordenas tu operacion
(numero1<numero2 and numero3<numero4) or (numero3>numero4)

True

In [52]:
# 5.5 Operaciones de pertenencia
#Se tiene: in, not in

In [53]:
# Ejemplo:

aula =["Lucero","Dylan","Angel"]
alumno1 = "Melany"
alumno2 = "Gustavo"

In [54]:
#¿Melany esta en aula?
alumno1 in aula

False

In [55]:
# ¿Juan esta en aula?
alumno2 in aula

False

In [56]:
#¿Melany no esta en aula?
alumno1 not in aula

True

In [57]:
#¿Melany no esta en aula?
alumno2 not in aula

True

In [58]:
# 5.6 Operadore de identidad
# Se tiene: is, is not

In [59]:
aula1=["Lucero","Dylan","Angel"]
aula2=["Lucero","Dylan","Angel"] 
# A contunuacion camos a indicar que aula3 va a compartir el mismo objeto que aula1
aula3 = aula1

In [60]:
# ¿aula3 comparte el mismo objeto que aula1?
aula3 is aula1

True

In [61]:
# ¿aula3 comparte el mismo objeto que aula2?
aula3 is aula2

False

In [62]:
# ¿aula2 comparte el mismo objeto que aula1?
aula2 is aula1

False

In [63]:
aula1.append("Pedro")

In [67]:
# Al imprimir los elementos de la lista aula1 se observa
print(aula1)

['Lucero', 'Dylan', 'Angel', 'Pedro']

In [68]:
# Al imprimir los elementos de la lista aula3 se observa
print(aula3)

['Lucero', 'Dylan', 'Angel', 'Pedro']

In [66]:
# Al imprimir los elementos de la lista aula2 se observa
print(aula2)

['Lucero', 'Dylan', 'Angel']